# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Temp Office files
~$*

# Simulation output
hypatia-master/satviz/viz_output/
