astropy==7.2.0
astropy-iers-data==0.2026.5.18.1.11.28
bidict==0.23.1
blinker==1.9.0
Cartopy==0.25.0
certifi==2026.4.22
click==8.4.0
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
ephem==4.2.1
Flask==3.1.3
Flask-SocketIO==5.6.1
fonttools==4.63.0
geographiclib==2.1
geopy==2.4.1
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
networkx==3.6.1
numpy==2.4.5
packaging==26.2
pandas==3.0.3
patsy==1.0.2
pillow==12.2.0
pyerfa==2.0.1.5
pyparsing==3.3.2
pyproj==3.7.2
pyshp==3.0.4
python-dateutil==2.9.0.post0
python-engineio==4.13.1
python-socketio==5.16.1
PyYAML==6.0.3
scipy==1.17.1
setuptools==82.0.1
sgp4==2.25
shapely==2.1.2
simple-websocket==1.1.0
six==1.17.0
statsmodels==0.14.6
tzdata==2026.2
Werkzeug==3.1.8
wheel==0.47.0
wsproto==1.3.2

# External repository dependencies
# These should be installed from the latest master branch.
git+https://github.com/snkas/exputilpy.git@master
git+https://github.com/snkas/networkload.git@master
